<section id="signup">
    <div class="container">
        <div class="row box-form">
            <div class="col-sm-12">
                <h2>Choose Flight</h2>
            </div>
        </div>
        <div class="form-group">
          <label for="status">Flight #</label>
          <select class="form-control" name="status" [(ngModel)]="category.status">
             <option [value]="1" [selected]="category.status ==1">AA 0001</option>
             <option [value]="0" [selected]="category.status ==0">AA 0002</option>
             <option [value]="1" [selected]="category.status ==1">AA 0003</option>
             <option [value]="0" [selected]="category.status ==0">AA 0004</option>
             <option [value]="1" [selected]="category.status ==1">AA 0005</option>
             <option [value]="0" [selected]="category.status ==0">AA 0006</option>
             <option [value]="1" [selected]="category.status ==1">AA 0007</option>
             <option [value]="0" [selected]="category.status ==0">AA 0008</option>
             <option [value]="1" [selected]="category.status ==1">AA 0009</option>
             <option [value]="0" [selected]="category.status ==0">AA 0010</option>
             <option [value]="1" [selected]="category.status ==1">AA 0011</option>
             <option [value]="0" [selected]="category.status ==0">AA 0012</option>
          </select>
      </div>
    </div>
</section>